
li {
    font-size: 17px;
    color: rgb(43, 73, 66);
    font-weight: normal;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.det {
    font-size: 15px;
}

.resumelistheading {
    font-weight: bold;
    font-style: normal;
    color: rgb(47, 102, 89);
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.underline {text-decoration: underline;}
.bold {font-weight: bold;}
.italic {font-style: italic;}

.imgpos {
    float: right;
    object-position:right;
}

#background-video {
    width: 100vw;
    height: 75vh;
    object-fit: cover;
    position:absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -.5;
}

@media (max-width: 750px) {
    #background-video {display: none;}
    header {
        background:
        url("https://youtube.com/embed/tZYfYvTLu40") no-repeat;
        background-size: cover;
    }
}

.homepage {
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 1px;
}
